<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev, prod, local, ether, test">
        <!--консольный аппендер берется отсюда: он сам и его "внешний вид"-->
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <property name="CONSOLE_LOG_PATTERN"
                  value="%d{HH:mm:ss.SSS}  %-4relative [%thread] %-5level %logger{56} - %msg%n"/>
        <property name="INPUT_MESSAGE_PATTERN"
                  value="%d{HH:mm:ss.S}: %msg%n"/>

        <!--адрес логов-->
        <property name="LOG_PATH" value="logs/"/>
        <property name="LOG_DIR" value="${LOG_PATH}/"/>
        <timestamp key="timestamp-by-year" datePattern="yyyy"/>
        <timestamp key="timestamp-by-month" datePattern="MM"/>
        <timestamp key="timestamp-by-day" datePattern="dd"/>

        <!--аппендер для того, что летит в консоль-->
        <appender name="load_and_events" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file value="${LOG_DIR}/${timestamp-by-year}/${timestamp-by-month}/${timestamp-by-day}_loading_and_events.log"/>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>
                    ${LOG_DIR}/%d{yyyy\MM\dd}_loading_and_events.log
                </FileNamePattern>
            </rollingPolicy>
            <encoder>
                <!--файловый аппендер берется отсюда: (внешний вид делаем такоей же как и в консоле)-->
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!--аппендер для входящих\исходящих сообщений -->
        <appender name="IO_Messages" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file value="${LOG_DIR}/${timestamp-by-year}/${timestamp-by-month}/${timestamp-by-day}_IO_Text_Messages.log"/>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>
                    ${LOG_DIR}/%d{yyyy\MM\dd}_IO__Text_Messages.log
                </FileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>${INPUT_MESSAGE_PATTERN}</pattern>
            </encoder>
        </appender>

        <!--    классы, за которыми следят эти аппендеры -->
        <logger name="ru.bobcody.utilits.MessageWriteLog" level="INFO">
            <appender-ref ref="IO_Messages"/>
        </logger>
        <logger name="ru.bobcody.data.services.TextMessageService" level="INFO">
            <appender-ref ref="IO_Messages"/>
        </logger>

        <!-- LOG everything at INFO level -->
        <root level="TRACE">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="load_and_events"/>-->
        </root>
    </springProfile>
</configuration>